In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
arr_int1 = np.random.randint(100, 10000, 100)
arr_int1[:5]

array([1575, 2046, 5312, 1018, 2710])

In [4]:
sr = pd.Series(arr_int1)
sr

0     1575
1     2046
2     5312
3     1018
4     2710
      ...
95    8597
96    5845
97    6191
98     977
99     360
Length: 100, dtype: int64

In [5]:
type(sr)

pandas.core.series.Series

In [6]:
sr.ndim

1

In [7]:
sr.shape

(100,)

In [8]:
sr.max()

9865

In [9]:
sr.name = 'Price'
sr

0     1575
1     2046
2     5312
3     1018
4     2710
      ...
95    8597
96    5845
97    6191
98     977
99     360
Name: Price, Length: 100, dtype: int64

In [53]:
sr_price = pd.Series(arr_int1, name='Price')
sr_price

0     1575
1     2046
2     5312
3     1018
4     2710
5     3286
6     5047
7     1163
8      577
9     8024
10    7670
11    6581
12    7294
13    8334
14     772
15    1902
16    4871
17    5474
18    1100
19    5468
20    5452
21    6779
22    9282
23     308
24    4933
25    7039
26    7497
27    9488
28    7637
29    9146
30    6836
31    5964
32    8072
33    2382
34    3333
35    2612
36    6913
37     999
38    2681
39    6042
40    4912
41    2640
42    1929
43    3741
44    9358
45    7846
46    3666
47    2020
48    6673
49    8965
50    4711
51    7897
52    6504
53    4231
54    8883
55    3748
56    2794
57    3902
58    7861
59    4247
60    8316
61    3333
62    9296
63    2361
64    4036
65    7019
66    2029
67    4621
68    7175
69    7202
70    6315
71    2782
72    8844
73    7038
74    7685
75    9136
76    3336
77    5814
78    8244
79    7200
80    2186
81    7046
82    8964
83    3973
84    4795
85    3818
86    9308
87    2111
88    4911
89    9865
90    6288
91    4980
92    9142
93    6777
94    3314
95    8597
96    5845
97    6191
98     977
99     360
Name: Price, dtype: int64

In [11]:
np.random.seed(17)
arr_int2 = np.random.randint(10, 100, 100)
sr_quantity = pd.Series(arr_int2, name='Quantity')

In [12]:
np.random.seed(17)
arr_fl = np.random.rand(100, 2) * 10

# sr = pd.Series(arr_fl)

In [13]:
df = pd.DataFrame(arr_fl)
df

           0         1
0   2.946650  5.305868
1   1.915208  0.679004
2   7.869855  6.563335
3   6.375209  5.756029
4   0.390629  3.578136
..       ...       ...
95  9.133029  5.902204
96  1.711943  7.144745
97  2.384461  9.218051
98  7.212739  6.769230
99  9.868106  5.397452

[100 rows x 2 columns]

In [14]:
df_wh = pd.DataFrame(arr_fl, columns=['Width', 'Height'])

In [15]:
df_wh

       Width    Height
0   2.946650  5.305868
1   1.915208  0.679004
2   7.869855  6.563335
3   6.375209  5.756029
4   0.390629  3.578136
..       ...       ...
95  9.133029  5.902204
96  1.711943  7.144745
97  2.384461  9.218051
98  7.212739  6.769230
99  9.868106  5.397452

[100 rows x 2 columns]

In [16]:
np.random.seed(17)
arr_uni = np.random.uniform(40, 60, (100, 1))

df_quality = pd.DataFrame(arr_uni, columns=['Quality'])
df_quality

      Quality
0   45.893300
1   50.611735
2   43.830416
3   41.358007
4   55.739709
..        ...
95  41.603027
96  57.420940
97  54.261728
98  54.642241
99  56.472400

[100 rows x 1 columns]

In [17]:
np.random.seed(17)
arr_n = np.random.randn(100, 1)

df_difference = pd.DataFrame(arr_n, columns=['Difference'])

In [18]:
np.random.seed(17)
arr_nor = np.random.normal(50, 10, (100, 1))

df_score = pd.DataFrame(arr_nor, columns=['Score'])

In [19]:
np.random.seed(17)
colors = ['red', 'green', 'blue']
shapes = ['circle', 'square', 'triangle']
arr_colors = np.random.choice(colors, (100, 1))
arr_shapes = np.random.choice(shapes, (100, 1 ))

In [20]:
# arr_cs = np.concatenate([arr_colors, arr_shapes])
# arr_cs

In [21]:
arr_cs = np.concatenate([arr_colors, arr_shapes], axis=1)
arr_cs[:5]

array([['green', 'triangle'],
       ['blue', 'triangle'],
       ['blue', 'square'],
       ['green', 'square'],
       ['red', 'square']], dtype='<U8')

In [22]:
arr_cs_hstack = np.hstack([arr_colors, arr_shapes])
arr_cs_hstack

array([['green', 'triangle'],
       ['blue', 'triangle'],
       ['blue', 'square'],
       ['green', 'square'],
       ['red', 'square'],
       ['green', 'triangle'],
       ['blue', 'circle'],
       ['red', 'square'],
       ['red', 'triangle'],
       ['red', 'circle'],
       ['green', 'triangle'],
       ['blue', 'circle'],
       ['green', 'triangle'],
       ['green', 'triangle'],
       ['red', 'triangle'],
       ['blue', 'square'],
       ['blue', 'circle'],
       ['blue', 'triangle'],
       ['blue', 'triangle'],
       ['green', 'circle'],
       ['green', 'square'],
       ['blue', 'square'],
       ['green', 'square'],
       ['blue', 'square'],
       ['green', 'square'],
       ['green', 'triangle'],
       ['green', 'square'],
       ['red', 'square'],
       ['green', 'circle'],
       ['green', 'triangle'],
       ['blue', 'square'],
       ['blue', 'circle'],
       ['blue', 'triangle'],
       ['red', 'circle'],
       ['blue', 'square'],
       ['green', 'circle'],
       ['green', 'square'],
       ['red', 'circle'],
       ['blue', 'square'],
       ['blue', 'square'],
       ['green', 'triangle'],
       ['red', 'triangle'],
       ['green', 'square'],
       ['red', 'triangle'],
       ['blue', 'triangle'],
       ['blue', 'triangle'],
       ['red', 'circle'],
       ['green', 'triangle'],
       ['blue', 'triangle'],
       ['blue', 'circle'],
       ['blue', 'circle'],
       ['green', 'square'],
       ['red', 'square'],
       ['green', 'triangle'],
       ['red', 'circle'],
       ['red', 'triangle'],
       ['red', 'circle'],
       ['red', 'triangle'],
       ['green', 'square'],
       ['blue', 'circle'],
       ['red', 'square'],
       ['red', 'triangle'],
       ['green', 'square'],
       ['green', 'square'],
       ['red', 'square'],
       ['green', 'triangle'],
       ['red', 'triangle'],
       ['green', 'triangle'],
       ['green', 'circle'],
       ['red', 'triangle'],
       ['green', 'square'],
       ['blue', 'square'],
       ['green', 'square'],
       ['green', 'triangle'],
       ['green', 'square'],
       ['blue', 'circle'],
       ['green', 'triangle'],
       ['green', 'triangle'],
       ['blue', 'circle'],
       ['green', 'circle'],
       ['blue', 'triangle'],
       ['blue', 'square'],
       ['blue', 'square'],
       ['red', 'triangle'],
       ['blue', 'square'],
       ['blue', 'circle'],
       ['red', 'circle'],
       ['blue', 'triangle'],
       ['green', 'circle'],
       ['red', 'circle'],
       ['red', 'circle'],
       ['red', 'circle'],
       ['blue', 'square'],
       ['green', 'circle'],
       ['red', 'square'],
       ['blue', 'circle'],
       ['red', 'triangle'],
       ['blue', 'square'],
       ['blue', 'circle'],
       ['red', 'circle']], dtype='<U8')

In [23]:
arr_cs_vstack = np.vstack([arr_colors, arr_shapes])
arr_cs_vstack[98:103]

array([['blue'],
       ['red'],
       ['triangle'],
       ['triangle'],
       ['square']], dtype='<U8')

In [24]:
df_cs = pd.DataFrame(arr_cs, columns=['Color', 'Shape'])

In [25]:
dates = pd.date_range('1997/7/5', periods=100, freq='D')
dates[:5]

DatetimeIndex(['1997-07-05', '1997-07-06', '1997-07-07', '1997-07-08',
               '1997-07-09'],
              dtype='datetime64[ns]', freq='D')

In [26]:
sr_date = pd.Series(dates, name='Date')
type(sr_date)

pandas.core.series.Series

In [27]:
df = pd.concat([sr_date, sr_price, sr_quantity, df_wh, df_quality, df_score, df_difference, df_cs], axis=1)
df

,Date,Price,Quantity,Width,Height,Quality,Score,Difference,Color,Shape
0,1997-07-05,1575,25,2.946650,5.305868,45.893300,52.762659,0.276266,green,triangle
1,1997-07-06,2046,16,1.915208,0.679004,50.611735,31.453719,-1.854628,blue,triangle
2,1997-07-07,5312,32,7.869855,6.563335,43.830416,56.239011,0.623901,blue,square
3,1997-07-08,1018,67,6.375209,5.756029,41.358007,61.453113,1.145311,green,square
4,1997-07-09,2710,55,0.390629,3.578136,55.739709,60.371905,1.037190,red,square
...,...,...,...,...,...,...,...,...,...,...
95,1997-10-08,8597,50,9.133029,5.902204,41.603027,61.307264,1.130726,blue,circle
96,1997-10-09,5845,76,1.711943,7.144745,57.420940,55.600397,0.560040,red,triangle
97,1997-10-10,6191,62,2.384461,9.218051,54.261728,43.816027,-0.618397,blue,square
98,1997-10-11,977,57,7.212739,6.769230,54.642241,47.752013,-0.224799,blue,circle
99,1997-10-12,360,77,9.868106,5.397452,56.472400,72.159015,2.215901,red,circle

In [28]:
df.head(3)

,Date,Price,Quantity,Width,Height,Quality,Score,Difference,Color,Shape
0,1997-07-05,1575,25,2.946650,5.305868,45.893300,52.762659,0.276266,green,triangle
1,1997-07-06,2046,16,1.915208,0.679004,50.611735,31.453719,-1.854628,blue,triangle
2,1997-07-07,5312,32,7.869855,6.563335,43.830416,56.239011,0.623901,blue,square

In [29]:
df.tail(3)

,Date,Price,Quantity,Width,Height,Quality,Score,Difference,Color,Shape
97,1997-10-10,6191,62,2.384461,9.218051,54.261728,43.816027,-0.618397,blue,square
98,1997-10-11,977,57,7.212739,6.769230,54.642241,47.752013,-0.224799,blue,circle
99,1997-10-12,360,77,9.868106,5.397452,56.472400,72.159015,2.215901,red,circle

In [30]:
df.sample(3)

,Date,Price,Quantity,Width,Height,Quality,Score,Difference,Color,Shape
13,1997-07-18,8334,27,1.509067,0.552414,57.545811,48.619507,-0.138049,green,triangle
92,1997-10-05,9142,60,5.927891,0.157152,59.760133,78.711269,2.871127,blue,square
18,1997-07-23,1100,73,6.767624,1.184723,49.670572,39.077701,-1.092230,blue,triangle

In [31]:
df.sample(frac=1, random_state=17)

,Date,Price,Quantity,Width,Height,Quality,Score,Difference,Color,Shape
71,1997-09-14,2782,99,3.606084,1.688734,44.727623,49.963040,-0.003696,blue,square
28,1997-08-02,7637,15,1.304293,9.843835,54.360744,42.447770,-0.755223,green,circle
9,1997-07-14,8024,94,4.835286,2.829882,47.156272,45.622168,-0.437783,red,circle
4,1997-07-09,2710,55,0.390629,3.578136,55.739709,60.371905,1.037190,red,square
73,1997-09-16,7038,84,7.945283,7.917093,54.312865,56.844951,0.684495,green,triangle
...,...,...,...,...,...,...,...,...,...,...
45,1997-08-19,7846,36,5.156806,5.698250,54.871535,50.991466,0.099147,blue,triangle
57,1997-08-31,3902,30,9.479230,1.300150,59.687671,61.854042,1.185404,red,triangle
22,1997-07-27,9282,67,7.187761,7.435768,47.920949,54.913338,0.491334,green,square
6,1997-07-11,5047,41,8.640421,8.772905,52.750418,48.883017,-0.111698,blue,circle
15,1997-07-20,1902,66,1.987739,8.313639,53.048372,32.247177,-1.775282,blue,square

In [32]:
pd.set_option('display.max_rows', 100)
df

,Date,Price,Quantity,Width,Height,Quality,Score,Difference,Color,Shape
0,1997-07-05,1575,25,2.946650,5.305868,45.893300,52.762659,0.276266,green,triangle
1,1997-07-06,2046,16,1.915208,0.679004,50.611735,31.453719,-1.854628,blue,triangle
2,1997-07-07,5312,32,7.869855,6.563335,43.830416,56.239011,0.623901,blue,square
3,1997-07-08,1018,67,6.375209,5.756029,41.358007,61.453113,1.145311,green,square
4,1997-07-09,2710,55,0.390629,3.578136,55.739709,60.371905,1.037190,red,square
5,1997-07-10,3286,32,9.456832,0.600447,53.126670,68.866389,1.886639,green,triangle
6,1997-07-11,5047,41,8.640421,8.772905,52.750418,48.883017,-0.111698,blue,circle
7,1997-07-12,1163,78,0.511937,6.524186,51.512058,46.378987,-0.362101,red,square
8,1997-07-13,577,49,5.517514,5.975133,40.781258,51.486750,0.148675,red,triangle
9,1997-07-14,8024,94,4.835286,2.829882,47.156272,45.622168,-0.437783,red,circle
10,1997-07-15,7670,54,2.977257,5.615089,58.913664,71.712570,2.171257,green,triangle
11,1997-07-16,6581,17,3.960474,7.887007,41.200894,61.523103,1.152310,blue,circle
12,1997-07-17,7294,11,4.184844,1.439039,57.280842,31.811877,-1.818812,green,triangle
13,1997-07-18,8334,27,1.509067,0.552414,57.545811,48.619507,-0.138049,green,triangle
14,1997-07-19,772,51,7.180372,2.923174,41.023873,55.398396,0.539840,red,triangle
15,1997-07-20,1902,66,1.987739,8.313639,53.048372,32.247177,-1.775282,blue,square
16,1997-07-21,4871,20,5.679911,0.823397,51.035027,63.148765,1.314877,blue,circle
17,1997-07-22,5474,13,5.449986,1.589587,51.950265,45.265520,-0.473448,blue,triangle
18,1997-07-23,1100,73,6.767624,1.184723,49.670572,39.077701,-1.092230,blue,triangle
19,1997-07-24,5468,16,4.449961,8.879824,45.659763,47.499726,-0.250027,green,circle
20,1997-07-25,5452,48,7.972677,0.679787,45.954514,40.177057,-0.982294,green,square
21,1997-07-26,6779,51,9.607878,6.592054,51.230178,60.312691,1.031269,blue,square
22,1997-07-27,9282,67,7.187761,7.435768,47.920949,54.913338,0.491334,green,square
23,1997-07-28,308,40,8.877364,1.339457,55.774014,45.533534,-0.446647,blue,square
24,1997-07-29,4933,27,7.769746,8.379915,48.369688,41.936399,-0.806360,green,square
25,1997-07-30,7039,59,8.293048,0.291570,42.878078,51.312678,0.131268,green,triangle
26,1997-07-31,7497,42,3.903745,4.372520,43.018134,37.874398,-1.212560,green,square
27,1997-08-01,9488,71,5.206351,4.928727,41.104827,51.599909,0.159991,red,square
28,1997-08-02,7637,15,1.304293,9.843835,54.360744,42.447770,-0.755223,green,circle
29,1997-08-03,9146,48,0.657023,5.792841,45.846347,53.498960,0.349896,green,triangle
30,1997-08-04,6836,12,5.807748,9.543379,43.975477,59.775418,0.977542,blue,square
31,1997-08-05,5964,54,1.974438,0.833254,56.627278,48.614148,-0.138585,blue,circle
32,1997-08-06,8072,64,8.838642,0.156962,51.359822,51.038563,0.103856,blue,triangle
33,1997-08-07,2382,23,7.955946,7.681904,41.646795,53.005910,0.300591,red,circle
34,1997-08-08,3333,66,8.720438,9.161101,50.899971,59.682053,0.968205,blue,square
35,1997-08-09,2612,37,2.738132,2.363811,43.179175,58.696238,0.869624,green,circle
36,1997-08-10,6913,93,3.105198,7.156433,53.535248,55.677831,0.567783,green,square
37,1997-08-11,999,60,0.827355,6.754864,42.369445,54.652823,0.465282,red,circle
38,1997-08-12,2681,59,8.585247,6.928969,48.899921,38.346269,-1.165373,blue,square
39,1997-08-13,6042,70,7.850837,3.532813,57.759649,29.640052,-2.035995,blue,square
40,1997-08-14,4912,18,2.201921,2.453724,55.945355,38.445867,-1.155413,green,triangle
41,1997-08-15,2640,61,7.274125,0.641278,41.359575,83.451574,3.345157,red,triangle
42,1997-08-16,1929,37,4.537375,4.876773,59.215755,51.267272,0.126727,green,square
43,1997-08-17,3741,97,6.408748,1.061689,53.184108,43.058211,-0.694179,red,triangle
44,1997-08-18,9358,73,5.736099,9.603458,54.375522,55.576744,0.557674,blue,triangle
45,1997-08-19,7846,36,5.156806,5.698250,54.871535,50.991466,0.099147,blue,triangle
46,1997-08-20,3666,66,9.880067,8.328709,57.754727,56.379262,0.637926,red,circle
47,1997-08-21,2020,67,4.981437,0.801513,42.678913,57.031107,0.703111,green,triangle
48,1997-08-22,6673,89,8.710470,7.130864,55.539492,40.839068,-0.916093,blue,triangle
49,1997-08-23,8965,84,7.321120,8.236200,56.759830,42.139858,-0.786014,blue,circle
50,1997-08-24,4711,12,7.449792,4.130626,56.586095,61.191818,1.119182,blue,circle
51,1997-08-25,7897,59,5.147053,8.465415,40.583140,40.166039,-0.983396,green,square
52,1997-08-26,6504,98,8.588621,3.105036,47.807490,52.445200,0.244520,red,square
53,1997-08-27,4231,59,1.193864,5.209595,48.745040,44.185903,-0.581410,green,triangle
54,1997-08-28,8883,82,4.489501,8.972873,50.412701,54.295639,0.429564,red,circle
55,1997-08-29,3748,74,4.931023,5.044775,49.857453,57.984020,0.798402,red,triangle
56,1997-08-30,2794,86,3.651236,7.830061,42.608586,43.899300,-0.610070,red,circle
57,1997-08-31,3902,30,9.479230,1.300150,59.687671,61.854042,1.185404,red,triangle
58,1997-09-01,7861,25,6.611127,1.637323,41.314046,42.891660,-0.710834,green,square
59,1997-09-02,4247,46,3.089388,9.666302,51.585682,42.188711,-0.781129,blue,circle
60,1997-09-03,8316,37,4.828547,5.407474,51.615497,47.696270,-0.230373,red,square
61,1997-09-04,3333,45,7.111731,6.874317,59.086757,51.201951,0.120195,red,triangle
62,1997-09-05,9296,61,0.369691,8.881706,43.948876,42.115302,-0.788470,green,square
63,1997-09-06,2361,93,1.885842,7.820278,41.666508,20.398774,-2.960123,green,square
64,1997-09-07,4036,23,6.439261,4.853990,57.677284,42.044189,-0.795581,red,square
65,1997-09-08,7019,17,9.290449,2.698814,40.313924,52.845822,0.284582,green,triangle
66,1997-09-09,2029,31,8.141790,6.950421,55.911893,55.225373,0.522537,red,triangle
67,1997-09-10,4621,22,2.355312,9.533027,55.363809,50.835544,0.083554,green,triangle
68,1997-09-11,7175,27,5.854357,5.830665,57.440876,77.207956,2.720796,green,circle
69,1997-09-12,7202,35,1.572095,4.252405,58.322202,56.110079,0.611008,red,triangle
70,1997-09-13,6315,94,2.350219,6.005073,45.476264,41.640560,-0.835944,green,square
71,1997-09-14,2782,99,3.606084,1.688734,44.727623,49.963040,-0.003696,blue,square
72,1997-09-15,8844,13,3.472464,2.145170,46.210397,53.930947,0.393095,green,square
73,1997-09-16,7038,84,7.945283,7.917093,54.312865,56.844951,0.684495,green,triangle
74,1997-09-17,7685,71,1.645404,7.503640,41.654710,57.752017,0.775202,green,square
75,1997-09-18,9136,69,0.558966,2.324704,53.509729,55.560029,0.556003,blue,circle
76,1997-09-19,3336,43,6.500964,7.182418,57.170493,44.590201,-0.540980,green,triangle
77,1997-09-20,5814,57,4.800495,3.376147,53.857938,65.244172,1.524417,green,triangle
78,1997-09-21,8244,23,3.897063,8.587972,55.701674,62.083851,1.208385,blue,circle
79,1997-09-22,7200,16,5.113856,8.746900,47.065625,50.512773,0.051277,green,circle
80,1997-09-23,2186,55,9.464386,9.357337,44.403841,45.733688,-0.426631,blue,triangle
81,1997-09-24,7046,75,4.930379,6.005183,44.907448,58.079402,0.807940,blue,square
82,1997-09-25,8964,56,2.071701,9.561883,54.548250,50.572798,0.057280,blue,square
83,1997-09-26,3973,53,9.868105,8.293788,41.282555,39.598284,-1.040172,red,triangle
84,1997-09-27,4795,45,5.378895,0.835376,49.074749,59.341481,0.934148,blue,square
85,1997-09-28,3818,72,3.138875,1.061134,49.753547,48.799655,-0.120035,blue,circle
86,1997-09-29,9308,24,2.049086,3.255184,52.817497,72.070163,2.207016,red,circle
87,1997-09-30,2111,34,5.016090,8.783188,42.123377,16.000692,-3.399931,blue,triangle
88,1997-10-01,4911,77,2.610089,5.301368,51.472199,62.335289,1.233529,green,circle
89,1997-10-02,9865,20,8.438626,1.365645,59.206916,44.121192,-0.587881,red,circle
90,1997-10-03,6288,28,4.002240,5.684853,50.313612,40.230631,-0.976937,red,circle
91,1997-10-04,4980,66,1.860412,0.137159,51.396501,54.680703,0.468070,red,circle
92,1997-10-05,9142,60,5.927891,0.157152,59.760133,78.711269,2.871127,blue,square
93,1997-10-06,6777,11,5.859937,4.086629,56.657419,37.919143,-1.208086,green,circle
94,1997-10-07,3314,14,2.286239,1.898837,49.962874,60.036032,1.003603,red,square
95,1997-10-08,8597,50,9.133029,5.902204,41.603027,61.307264,1.130726,blue,circle
96,1997-10-09,5845,76,1.711943,7.144745,57.420940,55.600397,0.560040,red,triangle
97,1997-10-10,6191,62,2.384461,9.218051,54.261728,43.816027,-0.618397,blue,square
98,1997-10-11,977,57,7.212739,6.769230,54.642241,47.752013,-0.224799,blue,circle
99,1997-10-12,360,77,9.868106,5.397452,56.472400,72.159015,2.215901,red,circle

In [33]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

In [34]:
sr_price.head()

0    1575
1    2046
2    5312
3    1018
4    2710
Name: Price, dtype: int64

In [35]:
df['Price'].head()

0    1575
1    2046
2    5312
3    1018
4    2710
Name: Price, dtype: int64

In [36]:
df['Price'].values

array([1575, 2046, 5312, 1018, 2710, 3286, 5047, 1163,  577, 8024, 7670,
       6581, 7294, 8334,  772, 1902, 4871, 5474, 1100, 5468, 5452, 6779,
       9282,  308, 4933, 7039, 7497, 9488, 7637, 9146, 6836, 5964, 8072,
       2382, 3333, 2612, 6913,  999, 2681, 6042, 4912, 2640, 1929, 3741,
       9358, 7846, 3666, 2020, 6673, 8965, 4711, 7897, 6504, 4231, 8883,
       3748, 2794, 3902, 7861, 4247, 8316, 3333, 9296, 2361, 4036, 7019,
       2029, 4621, 7175, 7202, 6315, 2782, 8844, 7038, 7685, 9136, 3336,
       5814, 8244, 7200, 2186, 7046, 8964, 3973, 4795, 3818, 9308, 2111,
       4911, 9865, 6288, 4980, 9142, 6777, 3314, 8597, 5845, 6191,  977,
        360])

In [37]:
df['Price'].tolist()[:5]

[1575, 2046, 5312, 1018, 2710]

In [38]:
df.values.tolist()[:3]

[[Timestamp('1997-07-05 00:00:00'),
  1575,
  25,
  2.9466500268710973,
  5.305867556052942,
  45.893300053742195,
  52.76265890021319,
  0.27626589002131874,
  'green',
  'triangle'],
 [Timestamp('1997-07-06 00:00:00'),
  2046,
  16,
  1.9152078694749486,
  0.6790035819129137,
  50.61173511210588,
  31.45371921193495,
  -1.854628078806505,
  'blue',
  'triangle'],
 [Timestamp('1997-07-07 00:00:00'),
  5312,
  32,
  7.869854599999133,
  6.563335217758555,
  43.830415738949895,
  56.239011113263565,
  0.6239011113263563,
  'blue',
  'square']]

In [39]:
# df['Price'].to_dict()

In [40]:
df.to_dict(orient='records')

[{'Date': Timestamp('1997-07-05 00:00:00'),
  'Price': 1575,
  'Quantity': 25,
  'Width': 2.9466500268710973,
  'Height': 5.305867556052942,
  'Quality': 45.893300053742195,
  'Score': 52.76265890021319,
  'Difference': 0.27626589002131874,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-06 00:00:00'),
  'Price': 2046,
  'Quantity': 16,
  'Width': 1.9152078694749486,
  'Height': 0.6790035819129137,
  'Quality': 50.61173511210588,
  'Score': 31.45371921193495,
  'Difference': -1.854628078806505,
  'Color': 'blue',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-07 00:00:00'),
  'Price': 5312,
  'Quantity': 32,
  'Width': 7.869854599999133,
  'Height': 6.563335217758555,
  'Quality': 43.830415738949895,
  'Score': 56.239011113263565,
  'Difference': 0.6239011113263563,
  'Color': 'blue',
  'Shape': 'square'},
 {'Date': Timestamp('1997-07-08 00:00:00'),
  'Price': 1018,
  'Quantity': 67,
  'Width': 6.375208960436359,
  'Height': 5.75602893753034,
  'Quality': 41.358007163825825,
  'Score': 61.453112895720906,
  'Difference': 1.1453112895720903,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-07-09 00:00:00'),
  'Price': 2710,
  'Quantity': 55,
  'Width': 0.3906291618886648,
  'Height': 3.5781360448354893,
  'Quality': 55.739709199998266,
  'Score': 60.371904682278824,
  'Difference': 1.0371904682278827,
  'Color': 'red',
  'Shape': 'square'},
 {'Date': Timestamp('1997-07-10 00:00:00'),
  'Price': 3286,
  'Quantity': 32,
  'Width': 9.456831868184075,
  'Height': 0.6004468031538535,
  'Quality': 53.12667043551711,
  'Score': 68.86638929781608,
  'Difference': 1.8866389297816077,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-11 00:00:00'),
  'Price': 5047,
  'Quantity': 41,
  'Width': 8.64042103546211,
  'Height': 8.772905261480302,
  'Quality': 52.75041792087272,
  'Score': 48.88301709871234,
  'Difference': -0.11169829012876616,
  'Color': 'blue',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-07-12 00:00:00'),
  'Price': 1163,
  'Quantity': 78,
  'Width': 0.5119366562045369,
  'Height': 6.524186154656548,
  'Quality': 51.51205787506068,
  'Score': 46.37898661600951,
  'Difference': -0.36210133839904846,
  'Color': 'red',
  'Shape': 'square'},
 {'Date': Timestamp('1997-07-13 00:00:00'),
  'Price': 577,
  'Quantity': 49,
  'Width': 5.517513686348753,
  'Height': 5.975132532390511,
  'Quality': 40.78125832377733,
  'Score': 51.48675045045244,
  'Difference': 0.14867504504524393,
  'Color': 'red',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-14 00:00:00'),
  'Price': 8024,
  'Quantity': 94,
  'Width': 4.835286243100021,
  'Height': 2.829881608569912,
  'Quality': 47.15627208967098,
  'Score': 45.62216847485368,
  'Difference': -0.4377831525146323,
  'Color': 'red',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-07-15 00:00:00'),
  'Price': 7670,
  'Quantity': 54,
  'Width': 2.9772571830177164,
  'Height': 5.6150890532636115,
  'Quality': 58.91366373636815,
  'Score': 71.71256997506643,
  'Difference': 2.1712569975066427,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-16 00:00:00'),
  'Price': 6581,
  'Quantity': 17,
  'Width': 3.9604743604702652,
  'Height': 7.887007096788996,
  'Quality': 41.20089360630771,
  'Score': 61.52310250623654,
  'Difference': 1.1523102506236542,
  'Color': 'blue',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-07-17 00:00:00'),
  'Price': 7294,
  'Quantity': 11,
  'Width': 4.184843853458769,
  'Height': 1.4390392077532788,
  'Quality': 57.28084207092422,
  'Score': 31.81187660697171,
  'Difference': -1.818812339302829,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-18 00:00:00'),
  'Price': 8334,
  'Quantity': 27,
  'Width': 1.5090669442067706,
  'Height': 0.5524135021582377,
  'Quality': 57.54581052296061,
  'Score': 48.61950659150358,
  'Difference': -0.13804934084964166,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-19 00:00:00'),
  'Price': 772,
  'Quantity': 51,
  'Width': 7.180371937036457,
  'Height': 2.9231735450413856,
  'Quality': 41.02387331240907,
  'Score': 55.39839613857675,
  'Difference': 0.5398396138576749,
  'Color': 'red',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-20 00:00:00'),
  'Price': 1902,
  'Quantity': 66,
  'Width': 1.9877387220034304,
  'Height': 8.313639223105211,
  'Quality': 53.048372309313095,
  'Score': 32.247177128917016,
  'Difference': -1.7752822871082987,
  'Color': 'blue',
  'Shape': 'square'},
 {'Date': Timestamp('1997-07-21 00:00:00'),
  'Price': 4871,
  'Quantity': 20,
  'Width': 5.6799111972463106,
  'Height': 0.8233974921248077,
  'Quality': 51.035027372697506,
  'Score': 63.14876535880369,
  'Difference': 1.3148765358803693,
  'Color': 'blue',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-07-22 00:00:00'),
  'Price': 5474,
  'Quantity': 13,
  'Width': 5.449985739307204,
  'Height': 1.5895874456727543,
  'Quality': 51.95026506478102,
  'Score': 45.265519529259464,
  'Difference': -0.47344804707405347,
  'Color': 'blue',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-23 00:00:00'),
  'Price': 1100,
  'Quantity': 73,
  'Width': 6.767623857029604,
  'Height': 1.1847226487907647,
  'Quality': 49.670572486200044,
  'Score': 39.07770099272815,
  'Difference': -1.0922299007271854,
  'Color': 'blue',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-24 00:00:00'),
  'Price': 5468,
  'Quantity': 16,
  'Width': 4.449960661200688,
  'Height': 8.87982434157199,
  'Quality': 45.659763217139826,
  'Score': 47.49972558262249,
  'Difference': -0.25002744173775115,
  'Color': 'green',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-07-25 00:00:00'),
  'Price': 5452,
  'Quantity': 48,
  'Width': 7.9726772999531015,
  'Height': 0.6797872826362639,
  'Quality': 45.95451436603543,
  'Score': 40.17705696417643,
  'Difference': -0.9822943035823575,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-07-26 00:00:00'),
  'Price': 6779,
  'Quantity': 51,
  'Width': 9.607877564667781,
  'Height': 6.592053923760217,
  'Quality': 51.23017810652722,
  'Score': 60.31269092479093,
  'Difference': 1.031269092479093,
  'Color': 'blue',
  'Shape': 'square'},
 {'Date': Timestamp('1997-07-27 00:00:00'),
  'Price': 9282,
  'Quantity': 67,
  'Width': 7.187760832244346,
  'Height': 7.435767651340965,
  'Quality': 47.92094872094053,
  'Score': 54.91333775514212,
  'Difference': 0.4913337755142121,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-07-28 00:00:00'),
  'Price': 308,
  'Quantity': 40,
  'Width': 8.87736351885637,
  'Height': 1.3394566757579296,
  'Quality': 55.77401419357799,
  'Score': 45.53353395797148,
  'Difference': -0.4466466042028524,
  'Color': 'blue',
  'Shape': 'square'},
 {'Date': Timestamp('1997-07-29 00:00:00'),
  'Price': 4933,
  'Quantity': 27,
  'Width': 7.769745806055802,
  'Height': 8.379915121953252,
  'Quality': 48.36968770691754,
  'Score': 41.93639918093864,
  'Difference': -0.8063600819061357,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-07-30 00:00:00'),
  'Price': 7039,
  'Quantity': 59,
  'Width': 8.293047639084282,
  'Height': 0.29156996519808853,
  'Quality': 42.87807841550656,
  'Score': 51.312677583434564,
  'Difference': 0.1312677583434561,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-07-31 00:00:00'),
  'Price': 7497,
  'Quantity': 42,
  'Width': 3.9037449127658452,
  'Height': 4.372519921680409,
  'Quality': 43.018133888413544,
  'Score': 37.874397616162945,
  'Difference': -1.2125602383837053,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-08-01 00:00:00'),
  'Price': 9488,
  'Quantity': 71,
  'Width': 5.206350635113318,
  'Height': 4.928726741656842,
  'Quality': 41.104827004316476,
  'Score': 51.599908534911094,
  'Difference': 0.1599908534911095,
  'Color': 'red',
  'Shape': 'square'},
 {'Date': Timestamp('1997-08-02 00:00:00'),
  'Price': 7637,
  'Quantity': 15,
  'Width': 1.3042928220861905,
  'Height': 9.843835309944723,
  'Quality': 54.36074387407292,
  'Score': 42.447769643650034,
  'Difference': -0.7552230356349968,
  'Color': 'green',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-08-03 00:00:00'),
  'Price': 9146,
  'Quantity': 48,
  'Width': 0.6570232191808534,
  'Height': 5.7928407774407,
  'Quality': 45.84634709008277,
  'Score': 53.498959924220536,
  'Difference': 0.3498959924220536,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-04 00:00:00'),
  'Price': 6836,
  'Quantity': 12,
  'Width': 5.807748250867279,
  'Height': 9.543378655569242,
  'Quality': 43.97547744400686,
  'Score': 59.77541764322047,
  'Difference': 0.9775417643220472,
  'Color': 'blue',
  'Shape': 'square'},
 {'Date': Timestamp('1997-08-05 00:00:00'),
  'Price': 5964,
  'Quantity': 54,
  'Width': 1.9744377751367526,
  'Height': 0.8332540063040506,
  'Quality': 56.627278446210425,
  'Score': 48.61414750164035,
  'Difference': -0.13858524983596474,
  'Color': 'blue',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-08-06 00:00:00'),
  'Price': 8072,
  'Quantity': 64,
  'Width': 8.838642177332371,
  'Height': 0.1569619295094371,
  'Quality': 51.359822394492625,
  'Score': 51.03856305141501,
  'Difference': 0.10385630514150096,
  'Color': 'blue',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-07 00:00:00'),
  'Price': 2382,
  'Quantity': 23,
  'Width': 7.955946473535244,
  'Height': 7.681904394283122,
  'Quality': 41.64679498424962,
  'Score': 53.00591036062727,
  'Difference': 0.30059103606272697,
  'Color': 'red',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-08-08 00:00:00'),
  'Price': 3333,
  'Quantity': 66,
  'Width': 8.720437859531705,
  'Height': 9.161100863895552,
  'Quality': 50.899971478614404,
  'Score': 59.68205295606987,
  'Difference': 0.9682052956069863,
  'Color': 'blue',
  'Shape': 'square'},
 {'Date': Timestamp('1997-08-09 00:00:00'),
  'Price': 2612,
  'Quantity': 37,
  'Width': 2.7381319291778428,
  'Height': 2.3638112638259945,
  'Quality': 43.17917489134551,
  'Score': 58.69623842050119,
  'Difference': 0.8696238420501186,
  'Color': 'green',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-08-10 00:00:00'),
  'Price': 6913,
  'Quantity': 93,
  'Width': 3.1051984364538763,
  'Height': 7.156432589184741,
  'Quality': 53.53524771405921,
  'Score': 55.67783088742501,
  'Difference': 0.5677830887425008,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-08-11 00:00:00'),
  'Price': 999,
  'Quantity': 60,
  'Width': 0.8273548925340335,
  'Height': 6.754864430044265,
  'Quality': 42.36944529758153,
  'Score': 54.65282343506052,
  'Difference': 0.4652823435060517,
  'Color': 'red',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-08-12 00:00:00'),
  'Price': 2681,
  'Quantity': 59,
  'Width': 8.585246688775271,
  'Height': 6.9289688411650605,
  'Quality': 48.899921322401376,
  'Score': 38.34626916821501,
  'Difference': -1.1653730831784992,
  'Color': 'blue',
  'Shape': 'square'},
 {'Date': Timestamp('1997-08-13 00:00:00'),
  'Price': 6042,
  'Quantity': 70,
  'Width': 7.850836912639295,
  'Height': 3.532812517806195,
  'Quality': 57.75964868314398,
  'Score': 29.6400520892793,
  'Difference': -2.0359947910720697,
  'Color': 'blue',
  'Shape': 'square'},
 {'Date': Timestamp('1997-08-14 00:00:00'),
  'Price': 4912,
  'Quantity': 18,
  'Width': 2.2019206904373743,
  'Height': 2.4537239045975,
  'Quality': 55.9453545999062,
  'Score': 38.445867051753176,
  'Difference': -1.1554132948246822,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-15 00:00:00'),
  'Price': 2640,
  'Quantity': 61,
  'Width': 7.2741251557423094,
  'Height': 0.6412777290220895,
  'Quality': 41.359574565272524,
  'Score': 83.45157394902942,
  'Difference': 3.3451573949029427,
  'Color': 'red',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-16 00:00:00'),
  'Price': 1929,
  'Quantity': 37,
  'Width': 4.537374619422069,
  'Height': 4.876773294685483,
  'Quality': 59.21575512933556,
  'Score': 51.2672721124555,
  'Difference': 0.12672721124555006,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-08-17 00:00:00'),
  'Price': 3741,
  'Quantity': 97,
  'Width': 6.408748294444948,
  'Height': 1.0616885236333873,
  'Quality': 53.18410784752044,
  'Score': 43.05821103558776,
  'Difference': -0.6941788964412238,
  'Color': 'red',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-18 00:00:00'),
  'Price': 9358,
  'Quantity': 73,
  'Width': 5.736099378010375,
  'Height': 9.603457940240444,
  'Quality': 54.375521664488694,
  'Score': 55.57674430896591,
  'Difference': 0.5576744308965906,
  'Color': 'blue',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-19 00:00:00'),
  'Price': 7846,
  'Quantity': 36,
  'Width': 5.156805801975399,
  'Height': 5.698250458948468,
  'Quality': 54.871535302681934,
  'Score': 50.9914659997752,
  'Difference': 0.09914659997752008,
  'Color': 'blue',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-20 00:00:00'),
  'Price': 3666,
  'Quantity': 66,
  'Width': 9.880066615714263,
  'Height': 8.328709350690627,
  'Quality': 57.75472703771274,
  'Score': 56.37926174238758,
  'Difference': 0.6379261742387575,
  'Color': 'red',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-08-21 00:00:00'),
  'Price': 2020,
  'Quantity': 67,
  'Width': 4.981436821039962,
  'Height': 0.8015133786402995,
  'Quality': 42.67891335151586,
  'Score': 57.03110681028184,
  'Difference': 0.7031106810281837,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-22 00:00:00'),
  'Price': 6673,
  'Quantity': 89,
  'Width': 8.710469940649624,
  'Height': 7.130864089874244,
  'Quality': 55.539491612111604,
  'Score': 40.83906846217205,
  'Difference': -0.9160931537827953,
  'Color': 'blue',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-23 00:00:00'),
  'Price': 8965,
  'Quantity': 84,
  'Width': 7.32112043534634,
  'Height': 8.236199870200153,
  'Quality': 56.75983024390651,
  'Score': 42.13985771956767,
  'Difference': -0.7860142280432331,
  'Color': 'blue',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-08-24 00:00:00'),
  'Price': 4711,
  'Quantity': 12,
  'Width': 7.449792112168064,
  'Height': 4.130626280958577,
  'Quality': 56.586095278168564,
  'Score': 61.19181796437911,
  'Difference': 1.1191817964379116,
  'Color': 'blue',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-08-25 00:00:00'),
  'Price': 7897,
  'Quantity': 59,
  'Width': 5.147053338756159,
  'Height': 8.465414951170501,
  'Quality': 40.58313993039618,
  'Score': 40.166038908804296,
  'Difference': -0.9833961091195702,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-08-26 00:00:00'),
  'Price': 6504,
  'Quantity': 98,
  'Width': 8.588620568468965,
  'Height': 3.105036139431915,
  'Quality': 47.80748982553169,
  'Score': 52.44520020995672,
  'Difference': 0.24452002099567186,
  'Color': 'red',
  'Shape': 'square'},
 {'Date': Timestamp('1997-08-27 00:00:00'),
  'Price': 4231,
  'Quantity': 59,
  'Width': 1.1938639397855333,
  'Height': 5.209594813305007,
  'Quality': 48.745039843360814,
  'Score': 44.18590261551242,
  'Difference': -0.5814097384487584,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-28 00:00:00'),
  'Price': 8883,
  'Quantity': 82,
  'Width': 4.489500682970284,
  'Height': 8.97287274931809,
  'Quality': 50.412701270226634,
  'Score': 54.29563902276162,
  'Difference': 0.42956390227616237,
  'Color': 'red',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-08-29 00:00:00'),
  'Price': 3748,
  'Quantity': 74,
  'Width': 4.931023385865267,
  'Height': 5.044775179915911,
  'Quality': 49.857453483313684,
  'Score': 57.984019883508374,
  'Difference': 0.7984019883508374,
  'Color': 'red',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-08-30 00:00:00'),
  'Price': 2794,
  'Quantity': 86,
  'Width': 3.6512364939040607,
  'Height': 7.830061210921407,
  'Quality': 42.60858564417238,
  'Score': 43.89929951332232,
  'Difference': -0.6100700486677683,
  'Color': 'red',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-08-31 00:00:00'),
  'Price': 3902,
  'Quantity': 30,
  'Width': 9.479230192085655,
  'Height': 1.300150130737544,
  'Quality': 59.687670619889445,
  'Score': 61.85404207127762,
  'Difference': 1.1854042071277622,
  'Color': 'red',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-09-01 00:00:00'),
  'Price': 7861,
  'Quantity': 25,
  'Width': 6.611126735260707,
  'Height': 1.6373230849016773,
  'Quality': 41.31404643836171,
  'Score': 42.891659945382116,
  'Difference': -0.7108340054617888,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-09-02 00:00:00'),
  'Price': 4247,
  'Quantity': 46,
  'Width': 3.0893876440744794,
  'Height': 9.666301542725805,
  'Quality': 51.585681554881404,
  'Score': 42.18871069477737,
  'Difference': -0.7811289305222626,
  'Color': 'blue',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-09-03 00:00:00'),
  'Price': 8316,
  'Quantity': 37,
  'Width': 4.828546746654463,
  'Height': 5.407474451942931,
  'Quality': 51.615496501734555,
  'Score': 47.69627021981439,
  'Difference': -0.2303729780185615,
  'Color': 'red',
  'Shape': 'square'},
 {'Date': Timestamp('1997-09-04 00:00:00'),
  'Price': 3333,
  'Quantity': 45,
  'Width': 7.1117313506881885,
  'Height': 6.8743174406629866,
  'Quality': 59.086757311138484,
  'Score': 51.20195082858019,
  'Difference': 0.12019508285801855,
  'Color': 'red',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-09-05 00:00:00'),
  'Price': 9296,
  'Quantity': 61,
  'Width': 0.3696914756503811,
  'Height': 8.881705659558571,
  'Quality': 43.948875550273506,
  'Score': 42.115301645938196,
  'Difference': -0.7884698354061802,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-09-06 00:00:00'),
  'Price': 2361,
  'Quantity': 93,
  'Width': 1.8858420803313158,
  'Height': 7.820277580280447,
  'Quality': 41.6665080126081,
  'Score': 20.398773808972997,
  'Difference': -2.9601226191027004,
  'Color': 'green',
  'Shape': 'square'},
 {'Date': Timestamp('1997-09-07 00:00:00'),
  'Price': 4036,
  'Quantity': 23,
  'Width': 6.439261219721384,
  'Height': 4.853989861018971,
  'Quality': 57.67728435466474,
  'Score': 42.044188839785406,
  'Difference': -0.7955811160214592,
  'Color': 'red',
  'Shape': 'square'},
 {'Date': Timestamp('1997-09-08 00:00:00'),
  'Price': 7019,
  'Quantity': 17,
  'Width': 9.290449450991957,
  'Height': 2.6988141269516275,
  'Quality': 40.31392385901887,
  'Score': 52.845822497822944,
  'Difference': 0.2845822497822942,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-09-09 00:00:00'),
  'Price': 2029,
  'Quantity': 31,
  'Width': 8.141789859746345,
  'Height': 6.950420734041188,
  'Quality': 55.911892947070484,
  'Score': 55.22537281967607,
  'Difference': 0.5225372819676067,
  'Color': 'red',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-09-10 00:00:00'),
  'Price': 4621,
  'Quantity': 22,
  'Width': 2.355311918944123,
  'Height': 9.533026918410357,
  'Quality': 55.363808788566246,
  'Score': 50.83554443906464,
  'Difference': 0.0835544439064642,
  'Color': 'green',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-09-11 00:00:00'),
  'Price': 7175,
  'Quantity': 27,
  'Width': 5.85435708539726,
  'Height': 5.830664686753533,
  'Quality': 57.44087571906341,
  'Score': 77.2079558955734,
  'Difference': 2.7207955895573415,
  'Color': 'green',
  'Shape': 'circle'},
 {'Date': Timestamp('1997-09-12 00:00:00'),
  'Price': 7202,
  'Quantity': 35,
  'Width': 1.5720954243394458,
  'Height': 4.25240464086586,
  'Quality': 58.322201727791104,
  'Score': 56.11007882578642,
  'Difference': 0.6110078825786414,
  'Color': 'red',
  'Shape': 'triangle'},
 {'Date': Timestamp('1997-09-13 00:00:00'),
  'Price': 6315,
  'Quantity': 94,
  'Width': 2.350219143212403,
  'Height': 6.005073266197362,
  'Quality': 45.476263858355686,
  'Score': 41.640560045943374,
  'Difference': -0.8359439954056626,
  'Color': 'green',
  'Shape': 'square'},

In [41]:
arr = np.random.randint(0, 100, 8)
pd.Series(arr, name='sample', index=list('ABCDEFGH'))

A    84
B    10
C    31
D    92
E    42
F    67
G     7
H    61
Name: sample, dtype: int64

In [42]:
pd.Series({"A":1, "B":2, "C":3}, name='sample')

A    1
B    2
C    3
Name: sample, dtype: int64

In [43]:
pd.DataFrame([{"A": 1, "B": 2, "C": 3}, {"A": 10, "C": 30, "B": 20}], index=["x", "y"], columns=list('PQR'))

    P   Q   R
x NaN NaN NaN
y NaN NaN NaN

In [44]:
arr1 = np.random.rand(10)
arr2 = np.random.rand(10)
pd.DataFrame([arr1, arr2])

,0,1,2,3,4,5,6,7,8,9
0,0.132036,0.529263,0.135220,0.276802,0.004602,0.431318,0.233486,0.001938,0.816954,0.617396
1,0.841160,0.310277,0.841926,0.196964,0.513272,0.541158,0.331337,0.597299,0.372415,0.759059

In [45]:
len(df)

100

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        100 non-null    datetime64[ns]
 1   Price       100 non-null    int64
 2   Quantity    100 non-null    int64
 3   Width       100 non-null    float64
 4   Height      100 non-null    float64
 5   Quality     100 non-null    float64
 6   Score       100 non-null    float64
 7   Difference  100 non-null    float64
 8   Color       100 non-null    object
 9   Shape       100 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(2), object(2)
memory usage: 7.9+ KB

In [47]:
df.size

1000

In [48]:
df.shape

(100, 10)

In [49]:
df.count()

Date          100
Price         100
Quantity      100
Width         100
Height        100
Quality       100
Score         100
Difference    100
Color         100
Shape         100
dtype: int64

In [50]:
df.sum(numeric_only=True)

Price         531377.000000
Quantity        5014.000000
Width            517.582747
Height           512.554742
Quality         5020.788093
Score           5111.509794
Difference        11.150979
dtype: float64

In [51]:
df.select_dtypes(include=['int', 'float']).sum()

Price         531377.000000
Quantity        5014.000000
Width            517.582747
Height           512.554742
Quality         5020.788093
Score           5111.509794
Difference        11.150979
dtype: float64

In [52]:
df.sum(axis=0)

/var/folders/mz/wsrvb5dj1xsdwsxzmkpdbmhm0000gn/T/ipykernel_20913/3976943683.py:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.sum(axis=0)

Price                                                    531377
Quantity                                                   5014
Width                                                517.582747
Height                                               512.554742
Quality                                             5020.788093
Score                                               5111.509794
Difference                                            11.150979
Color         greenbluebluegreenredgreenblueredredredgreenbl...
Shape         triangletrianglesquaresquaresquaretrianglecirc...
dtype: object